header{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 233, 233);
    margin-left: 10px;
}
body{
    background-color: rgb(45, 44, 35);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
div{
    margin-top: 100px;
    margin-left: 100px;
    text-wrap: wrap;
}

a:link, a:visited, a:hover, a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}
img{
    float: right;
    margin-left: 20px;
    max-width: 600px;
}