header{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 233, 233);
    margin-left: 10px;
}
body{
    background-image: url(orglando.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a:link, a:visited, a:hover, a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}
div{
    margin-top: 200px;
    margin-left: 200px;
    color: aliceblue;
}
button{
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 40%;
    border-color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    height: 40px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 250px;
    margin-left: 200px;
}
container{
    height: 48px;
    width: 48px;
}