header{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 233, 233);
    margin-left: 10px;
}
body{
    background-color: rgb(45, 44, 35);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
a:link, a:visited, a:hover, a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}