header{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 233, 233);
    margin-left: 10px;
}
body{
    background-color: rgb(45, 44, 35);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
a:link, a:visited, a:hover, a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}
div{
    margin-top: 25px;
    margin-left: 35px;
    color: aliceblue;
}
h1{
    margin-bottom: 25px;
    font-size: 15px;
}
